%div{ class: "content" }
  %div{ class: "container-fluid" }
    %div{ class: "row" }
      %div{ class: "col-lg-12" }
        %div{ class: "card-box" }
          %h4{ class: "m-t-0 header-title" } All Notes
          %table{ class: "table table-striped" }
            %thead
              %tr
                %th Date Created
                %th Note Title
                %th Note Snippet
                %th Word Count
                %th Read Time
                %th Actions
              %tbody
                - unless @notes.blank?
                  - @notes.each do |note|
                    %tr{scope: "row"}
                      .note
                        %td #{time_ago_in_words (note.created_at)} ago
                        %td #{link_to note.title, note_path(:id), method: :show }
                        %td #{truncate(note.content, length: 50)}
                        - word_count = note.content.scan(/\w+/).size
                        %td #{word_count}
                        - if time_to_read = word_count / 60 < 1
                          %td Less than a minute
                        - else
                          %td #{time_to_read} minutes
                        %td #{link_to "Edit Note", edit_note_path(:id), class: "btn btn-outline-warning waves-light waves-effect"} #{link_to "Delete Note", note_path(:id), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-outline-danger waves-light waves-effect"}
        %div{ class: "container-fluid" }
          %div{ class: "row" }
            .buttons
              = link_to "Create New Note", new_note_path, class: "btn btn-success waves-light waves-effect"
