%div{ class: "content" }
  %div{ class: "container-fluid" }

    %div{ class: "row" }
      %div{ class: "col-12" }
        %div{ class: "card-box" }
          %h4{ class: "m-t-0 header-title" } New Note
          %p{ class: "text-muted m-b-30 font-14" } Type your note below. Your note must include a title and at least 3 characters

          %div{ class: "row" }
            %div{ class: "col-12" }
              %div{ class: "p-20" }
              = simple_form_for @note do |f|
                %f.form{ class: "form-horizontal", role: "form" }
                  %div{ class: "form-group row" }
                    %label{ class: "col-2 col-form-label" } Title
                    %div{ class: "col-10" }
                      = f.input :title, type: "text", class: "form-control", placeholder: "Enter a title"


                  %div{ class: "form-group row" }
                    %label{ class: "col-2 col-form-label" } Note
                    %div{ class: "col-10" }
                      = f.text_area :content, class: "form-control", rows: "5"

                      = button_to "Save", class: "btn btn-success waves-light waves-effect"
                      = link_to 'cancel', notes_path, class: "btn btn-warning waves-light waves-effect"





