!!! 5
%html

  %head
    %title NoteToday
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = csrf_meta_tags

  %body
    %p{ class: "notice"}
    %p{ class: "alert"}

    %div#wrapper

      %div{ class: "left side-menu" }

        %div{ class: "slimscroll-menu", id: "remove-scroll"}

          %div{ class: "topbar-left"}
            %a{href: "application.html.haml", class: "logo" }
              %span
                %img{ src: "", alt: "", height: "22" }
              %i
                %img{ src: "", alt: "", height: "28"}

          %div{ class: "user-box"}
            %div{ class: "user-img"}
              %img{ src: "https://image.flaticon.com/icons/png/512/942/942752.png", alt: "user-img", title: "User Name", class: "img-fluid" }
            %h5 Hello!
            %p Welcome to Your Admin Panel

          %div{ id: "sidebar-menu"}
            %ul{ class: "metismenu", id: "side-menu" }
              %li
                %a
                  %i{ class: "fa fa-desktop"}
                  %span{ class: "badge badge-danger badge-pill pull-right" }
                  %span Dashboard

              %li
                %a{ href: "javascript: void(0);" }
                  %i{ class: "fa fa-clone"}
                  %span Notes
                  %i{ class: "fa fa-arrow-circle-o-right" }

%div{ class: "content-page" }
  %div{ class: "topbar" }
    %nav{ class: "navbar-custom" }
      %ul{ class: "list-unstyled topbar-right-menu float-right mb-0"}
        %li{ class: "hide-phone app-search" }

        %li{ class: "dropdown notification-list" }
          %a{ class: "nav-link dropdown-toggle nav-user", role: "button", "data-toggle" => "dropdown", href: "#", role: "button", "aria-haspopup" => "false", "aria-expanded" => "false"}
            %img{ src: "https://image.flaticon.com/icons/svg/149/149452.svg", alt: "user", class: "rounded-circle" }
              %span{ class: "ml-1"} You're logged in!
              %i{ class: "fa fa-chevron-down" }
          %div{ class: "dropdown-menu dropdown-menu-right dropdown-menu-animated profile-dropdown" }
            %div{class: "dropdown-item noti-title"}
            %h6{ class: "text-overflow m-0" } Choose an option
            %a{ class: "dropdown-item notify-item" }
              %i{ class: "fa fa-power-off" }
              %span #{link_to "Sign Out", destroy_user_session_path(id: @user_id), method: :delete, scope: "span"}



  = yield

  %footer{ class: "footer text-center"} 2018 © Monica Howard



